anyascii
asgiref
backports.zoneinfo
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-cors-headers
django-filter
django-modelcluster
django-oauth-toolkit
django-permissionedforms
django-taggit
django-treebeard
djangorestframework
draftjs-exporter
et-xmlfile
filetype
idna
jwcrypto
l18n
laces
oauthlib
openpyxl
pillow
pillow-heif
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
telepath
typing-extensions
urllib3
wagtail
willow

azure-ai-ml
azure-common
azure-core
azure-graphrbac
azure-identity
azure-mgmt-authorization
azure-mgmt-containerregistry
azure-mgmt-core
azure-mgmt-keyvault
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-storage
azure-storage-blob
azure-storage-file-datalake
azure-storage-file-share
azureml-core
azureml-dataprep
azureml-dataprep-native
azureml-dataprep-rslex
msrestazure
opencensus-ext-azure

pandas
wagtailmedia
opencv-python
celery
redis