docker-compose.override.yml
**/node_modules/
**/.env.local
__pycache__/
azd_up_debug.log
backend/tennis/media
backend/tennis/random
backend/tennis/video.mp4
backend-tmp
temp/
*.mp4
**/sample-input
**/.terraform
