/* globals.css */
/* :root {
  --primary-color: #4CAF50;
  --secondary-color: #FFC107;
  --accent-color: #FF9800;
  --background-color: #F1F8E9;
  --text-color: #33691E;
  --card-color: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;